adjusttext==1.4.0
altair==6.3.0
anndata==0.13.4
annotated-types==0.8.0
anyio==4.15.1
archspec==0.2.6
array-api-compat==1.15.0
attrs==26.1.0
autograd==1.9.1
autograd-gamma==0.5.0
biopython==1.88
build==1.6.1
certifi==2026.7.22
charset-normalizer==3.5.2
click==8.5.0
cloudpickle==3.1.2
cnsplots==0.4.0
colorama==0.4.6
colorspacious==1.1.2
contourpy==1.4.0
cycler==0.12.1
donfig==0.8.1.post1
fast-array-utils==1.5.1
fonttools==4.66.1
formulaic==1.2.2
glasbey==0.3.0
google-crc32c==1.9.0
gseapy==1.3.1
h11==0.16.0
h5py==3.16.0
httptools==0.8.0
idna==3.20
iniconfig==2.3.0
interface-meta==2.0.1
itsdangerous==2.2.0
jinja2==3.1.6
joblib==1.6.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kiwisolver==1.5.1
legacy-api-wrap==1.5
lifelines==0.30.0
llvmlite==0.50.0
logomaker==0.8.7
lxml==6.1.3
markupsafe==3.0.4
matplotlib==3.11.2
matplotlib-venn==1.1.2
msgspec==0.22.0
narwhals==2.26.0
natsort==8.4.0
networkx==3.7
num2tex==0.8
numba==0.68.0
numcodecs==0.17.0
numpy==2.5.3
packaging==26.3
palettable==3.3.3
pandas==3.0.6
patsy==1.0.3
pillow==12.3.0
platformdirs==4.12.3
pluggy==1.6.0
promotercalculator==1.2.4
protobuf==7.36.2
psutil==7.2.2
pyarrow==25.0.1
pycomplexheatmap==1.8.5
pydantic==2.13.5
pydantic-core==2.46.5
pydantic-settings==2.15.0
pydeck==0.9.3
pygments==2.21.0
pyhmmer==0.12.3
pynndescent==0.6.0
pyparsing==3.3.3
pyproject-hooks==1.3.3
pyrodigal==3.7.1
pytest==9.1.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.4
python-multipart==0.0.32
pyyaml==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.9.1
ruff==0.16.10
scanpy==1.12.4
scikit-learn==1.9.1
scipy==1.18.1
scverse-misc==0.1.6
seaborn==0.13.2
session-info2==0.4.2
six==1.17.0
starlette==1.7.0
statannotations==0.7.2
statsmodels==0.15.0
streamlit==1.65.0
threadpoolctl==3.7.0
toml==0.10.2
tqdm==4.70.1
typing-extensions==4.16.0
typing-inspection==0.4.4
tzdata==2026.5
umap-learn==0.5.12
upsetplot==0.9.0
urllib3==2.8.0
uvicorn==0.54.0
watchdog==6.0.0
websockets==17.2
wrapt==2.5.0
zarr==3.4.0
